:root {
  --color-one: #aa1233;
  --green-color: #00ff66;
  --navy-color: #162057;
  --yellow-light: #ffffaa;
  --white: #fdfdfd;
  --grey: #A3A3A3;
  --light-grey: #e6e6e6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-grey);
  font-family: "Inter Tight", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  padding: 1rem;
}
